
#top-panel{
    height: 80px;
}

#alert-block{
    padding-left: 50px;
}

#task-group{
    padding: 20px;
    border: solid 1px #DCDCDC;
}

#control-panel{
    float: right;
}

#btn-panel{
    margin-top: 10px;
}


#scheduler-pause{
    margin-right: 7px;
}

#add-job{
    margin-top: 5px;
}

#task-list{
    width: 80%;
}

#job-form{
    width: 80%;
}

#task-list .btn-group{
    margin-top: 10px;
}

#error{
    font-size: 1.4em;
    color: #A52A2A;
    text-align: center;
    margin-top: 20px;
}

.help-block{
    font-size: 12px;
}

#main-job-form{
    margin-bottom: 30px;
}