<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
    <style>
        input{
            position: absolute;
            left: 130px;
        }
    </style>
</head>
<body>
<a href="/">Главная</a><br>
{% if errors %}
{% for error in errors %}
{{ error }}<br>
{% endfor %}
{% endif %}
<form action="/job/add" method="POST">

    <h3>Детали задачи</h3>
    <label>Task name: </label>
    <input type="text" name="name" placeholder="name" value='Test'><br>
    <label>Task id: </label>
    <input type="text" name="id" placeholder="id" value='Test'><br>
    <label>Script link: </label>
    <input type="text" name="func" placeholder="module:method" value='jobs.test:TestJob.run_cls'><br>
    <label>Task parameters: </label>
    <input type="text" name="kwargs" placeholder="kwargs" value='{}'><br>
    <br>

    <h4>Выполнение:</h4>
    <label>Year: </label>
    <input type="text" name="year" placeholder="YYYY" value='*'><br>
    <label>Month: </label>
    <input type="text" name="month" placeholder="M" value='*'/><br>
    <label>Day: </label>
    <input type="text" name="day" placeholder="D" value='*'/><br>
    <label>Week: </label>
    <input type="text" name="week" placeholder="week"/><br>
    <label>day of week: </label>
    <input type="text" name="day_of_week" placeholder="day_of_week"/><br>
    <label>hour: </label>
    <input type="text" name="hour" placeholder="hour" value='*'/><br>
    <label>minute: </label>
    <input type="text" name="minute" placeholder="minute" value='*'/><br>
    <label>second: </label>
    <input type="text" name="second" placeholder="second" value='0'/><br>
    <label>start_date: </label>
    <input type="text" name="start_date" placeholder="YYYY-MM-DD h:m:s"/><br>
    <label>end_date: </label>
    <input type="text" name="end_date" placeholder="YYYY-MM-DD h:m:s"/><br>

    <input type="submit" name="btn" value="Save">
</form>
</body>
</html>