<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
    <style>
        input{
            position: absolute;
            left: 130px;
        }
    </style>
</head>
<body>
<a href="/">Главная</a><br>
{% if errors %}
{% for error in errors %}
{{ error }}<br>
{% endfor %}
{% endif %}
<form action="/job/edit/{{ job.id }}" method="POST">

    <h3>Детали задачи</h3>
    <label>Task name: </label>
    <input type="text" name="name" placeholder="name" value="{{job.name}}"><br>
    <label>Script link: </label>
    <input type="text" name="func" placeholder="module:method" value="{{job.func_ref}}"><br>
    <label>Task parameters: </label>
    <input type="text" name="kwargs" placeholder="kwargs" value="{{job.kwargs}}"><br>
    <br>

    <h4>Выполнение:</h4>
    <label>Year: </label>
    <input type="text" name="year" placeholder="YYYY" value="{{trigger_data.year}}"><br>
    <label>Month: </label>
    <input type="text" name="month" placeholder="M" value="{{trigger_data.month}}"><br>
    <label>Day: </label>
    <input type="text" name="day" placeholder="D" value="{{trigger_data.day}}"><br>
    <label>Week: </label>
    <input type="text" name="week" placeholder="week" value="{{trigger_data.week}}"><br>
    <label>day of week: </label>
    <input type="text" name="day_of_week" placeholder="day_of_week" value="{{trigger_data.day_of_week}}"><br>
    <label>hour: </label>
    <input type="text" name="hour" placeholder="hour" value="{{trigger_data.hour}}"><br>
    <label>minute: </label>
    <input type="text" name="minute" placeholder="minute" value="{{trigger_data.minute}}"><br>
    <label>second: </label>
    <input type="text" name="second" placeholder="second" value="{{trigger_data.second}}"><br>

    <input type="submit" name="btn" value="Save">
</form>
</body>
</html>